In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/heart.csv')

In [3]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
X = data.iloc[:, 0:13]
y = data.target

In [6]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [7]:
y[0:5]

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

# Train Test Split

In [8]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.50, random_state=1) 
# 50% training and 50% test

# Creating our Model

In [9]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Testing our models accuracy

In [10]:
from sklearn.metrics import confusion_matrix

In [11]:
confusion_matrix(y_test, y_pred)

array([[236,  22],
       [ 12, 243]], dtype=int64)

**Our model predicted 243+240 obserations correctly and 15+15 observations incorrectly**

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.91      0.93       258
           1       0.92      0.95      0.93       255

    accuracy                           0.93       513
   macro avg       0.93      0.93      0.93       513
weighted avg       0.93      0.93      0.93       513

In [13]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9337231968810916

**We have an accuracy score of 94%**

# Baseline model

In [14]:
data.target.value_counts() / data.target.count()

1    0.513171
0    0.486829
Name: target, dtype: float64

**Our baseline model is 51.31%**